body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 30px;
}

h1 {
  color: #38bdf8;
  font-size: 36px;
}

h2 {
  margin-top: 40px;
  color: #22c55e;
}

.intro {
  font-size: 18px;
  max-width: 700px;
  margin: auto;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background-color: #111;
  margin: 10px auto;
  padding: 10px;
  max-width: 400px;
  border-radius: 6px;
}

button {
  margin-top: 30px;
  padding: 12px 25px;
  font-size: 16px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
}
